.card {
    border-radius: 5px;
    margin: 10px;
    width: 300px;
    background-color:#5e5555;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
    color: white;
    display: flex;
    align-items: center;
  }
  
 
  
  
  .card-title {
    font-size: 20px;
    margin: 0;
    color: #000000;
    background-color:#51467d;
    
  }
  
 
  .carddesc{
    text-align: center;
  }

  .cardprice{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
  }

  .pprice{
    color: #000000;
  }

  .card:hover{

    transform: scale(1.05);
    box-shadow: 7px 7px 7px grey;

  }
  
  .btnn{
    background-color: #234E70;
    transition: all 0.45s linear;
  }

  .btnn:hover{
    transform: rotate(360deg);
    background-color:  #FBF8BE;
    color: black;
  }